<div class="container">

  <!--The row of the haerd-->
  <div class="row" style="height: auto">
    <div class="col-12 cover">
      <div class="hearedArea">
        <h3> הרשמה למערכת </h3>
        <p> הירשם למערכת והחל לעקוב אחר ההוצאות שלך :) </p>
        <br>
      </div>
      <hr>
    </div>
  </div>

  <!--Registar form: -->
  <form #fromInfo="ngForm" *ngIf="loginService.allEmails">

    <!--The email row:-->
    <div class="row inputArea">
      <!--The labek of the email:-->
      <label class="col-4 col-md-6"> הכנס מייל: </label>
      <!--The input area of the email:-->
      <input class="col-8 col-md-6 form-control form-control" type="email" #emailInfo="ngModel"
        [(ngModel)]="customer.email" (input)="checkIfEmailUnieq()" name="email" placeholder="example@example.com"
        pattern="[^@]+@[^\.]+\..+" maxlength="50" required>
      <!--Message in case of empty field-->
      <div class="invalidInput col-12" *ngIf="emailInfo.errors?.required && emailInfo.touched"> חובה למלא שדה זה </div>
      <!--Message in case of invalid email addrass-->
      <div class="invalidInput col-12"
        *ngIf="emailInfo.errors?.pattern && emailInfo.touched && customer.email != null "> כתובת המייל אינה תקנית </div>
      <!--Message in case if not uniqe email-->
      <div class="invalidInput col-12" *ngIf="emailNotUniqe && emailInfo.valid"> כתובת המייל שבחרת כבר שייכת ללקוח אחר
      </div>
    </div>

    <!--The  first passwordrow:-->
    <div class="row inputArea">
      <!--The lebal of the first password:-->
      <label class="col-4 col-md-6 "> הכנס סיסמה: </label>
      <!--The input of the first password:-->
      <input class="col-8 col-md-6 form-control form-control" type="password" style="text-align: center"
        placeholder="הכנס סיסמה" #passwordInfo="ngModel" [(ngModel)]="customer.password" name="password"
        pattern="^.{2,8}$" maxlength="8" required>
      <!--The message in case of empty field:-->
      <div class="col-12 invalidInput" *ngIf="passwordInfo.errors?.required && passwordInfo.touched"> חובה למלא שדה זה
      </div>
      <!--The message in case of invalid password:-->
      <div class="col-12 invalidInput" *ngIf="passwordInfo.errors?.pattern && passwordInfo.touched"> אורך הסיסמה חייב
        להכיל מינימום 4 תווים ומקסימום 8 </div>
    </div>

    <!--The second password:-->
    <div class="row inputArea">
      <!--The lebal of the second password:-->
      <label class="col-4 col-md-6"> אמת סיסמה: </label>
      <!--The input of the second password:-->
      <input class="col-8 col-md-6 form-control" [(ngModel)]="confirmPassword" type="password" placeholder="אמת סיסמה"
        #passwordConfirmInfo="ngModel" maxlength="8" (input)="checkPassword()" name="confirmPassword" pattern="^.{2,8}$"
        required>
      <!--The message in case the field is empty-->
      <div class="col-12 invalidInput"
        *ngIf="passwordConfirmInfo.errors?.required && passwordConfirmInfo.touched && passwordInfo.valid"> חובה למלא שדה
        זה </div>
      <!--The message in case of not match to the first password:-->
      <div class="col-12 invalidInput" *ngIf="passwordNotConfirm && passwordConfirmInfo.touched && passwordInfo.valid">
        סיסמאות לא תואמת </div>
    </div>

    <!--The row of user name:-->
    <div class="row inputArea">
      <!--The label of the user name field-->
      <label class="col-4 col-md-6"> שם משתמש: </label>
      <!--The input of user name:-->
      <input class="col-8 col-md-6 form-control" type="text" name="userName" height="26"
        [(ngModel)]="customer.users[0].name" #userNameInfo="ngModel" maxlength="25" placeholder="שם משתמש" required>
      <!--The message in case the fiels is empty:-->
      <div class="col-12 invalidInput" *ngIf="userNameInfo.errors?.required && userNameInfo.touched"> חובה למלא שדה זה
      </div>
    </div>

    <!--The subbmit butten:-->
    <button class="btn btn-primary" style="margin:20px" [disabled]="fromInfo.invalid" (click)="submitRegistration()">
      הירשם </button>
  </form>

</div>
