.container{
    background:#ffffffde;
    border: 1px solid black;
    padding: 50px;
    border-radius: 30px;
}

.card{
    display: inline-block;
    border: 1px solid black;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #ccc;
}

.selectedUpdate{
    background-color: antiquewhite;
}

input{
    text-align: center;
}

