.container{
  background:white;
  border: 1px solid black;
  padding: 50px;
  border-radius: 30px;
}

.btn-attached{
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-add-action{
  margin: 10px 10px;
  animation: bumb 1s ease-out infinite;
}

.btn-light{
  background-color: #383d4117;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

p{
  text-align: right;
  width: 60%;
  margin: auto;
}

.start-btn{
  margin-top: 10px;
  animation: bumb 1s ease-out infinite;
}
 
.imp-home-page{
  width: 100%;
  height: min-content;
}

.text-home-page{
  font-size: 22px;
  padding: 50px 10px;
}

@keyframes bumb{
  0%{
      transform: scale(1)
  }
          50%{
              transform: scale(1.1);
          }
          100%{
              transform: scale(1)

          }
  }

@media only screen and (max-width:  768px){

  p{
    width: 100%
  }

  .container{
    padding: 25px;
  }

  .not-display-in-xs{
    display: none;
  }

  .imp-home-page{
    width: 100%;
    height: min-content;
  }

  .text-home-page{
    font-size: 10px;
    padding: 15px 3px;
  }
  

}

@media only screen and (max-width:  400px){

  p{
    width: 80%
  }

  .container{
    padding: 15px;
  }

  .not-display-in-xs{
    display: none;
  }



  .imp-home-page{
    width: 100%;
    height: min-content;
  }

  .text-home-page{
    font-size: 10px;
    padding: 15px 3px;
  }

  td{
    font-size: 80%;
  }

  th{
    font-size: 80%;
  }

  .btn{
    font-size: 80%;
  }
}