.container{
    background:#ffffffde;
    border: 1px solid black;
    border-radius: 30px;
}

.inputArea{
    background-color: #efeaea69;
    margin: 14px auto;
    padding: 30px;
    text-align: center;
    width: 406px;
    border-radius: 30px;
  }

  .form-control{
    text-align: center
  }

  .invalidInput{
    font-size: 80%;
    color: #dc3545;
    font-weight: bold;
  }

  .header {
    background: #f25757;
    padding: 50px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-bottom: 26px;
    text-decoration: underline;
}

@media only screen and (max-width:  400px){

  .inputArea{
    width: 80%;
  }

}