.container{
    background:#ffffffde;
    border: 1px solid black;
    border-radius: 30px;
    padding-right: 0px; 
    padding-left: 0px;

}

.header{
    background: #a9e7b3;
    padding: 5px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.monthAndYear{
    padding: 20px 60px;
    
}

.table td, .table th {
     padding: 3px; 
}

.table-title{
    font-size: 1.25rem;
    margin: 20px;
    text-decoration: underline;
    margin-left: 620px;
}

.slow .toggle-group { 
    transition: left 0.7s; -webkit-transition: left 0.7s; 
}

@media only screen and (max-width:  400px){

    .table td, th{ 
      font-size: 80%;
    }
  
  }