<div class="container" *ngIf="allActions?.length>0">

  <div class="row mr-0 ml-0 header" style="padding: 50px">
    <div class="col-12">
        <h1 style="text-decoration: underline"> עמוד הסיכומים החודשיים </h1>
    </div>
  </div>
  

  <!--Select of the month and year by debit date:-->
  <div @showStete class="row" *ngIf="monthlyBriefByDebit">

    <div class="col-12 col-lg-6 monthAndYear">
      <h5 style="text-decoration: underline;"> <b> סיכומים חודשיים על פי תאריך חיוב:</b> </h5>
      <p> טבאלות המציגות סיכומים חודשיים של העסקאות שלך על פי התאריך בו הן חוייבו/הופיעו בחשבונוך </p>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>תאריך </th>
            <th> הוצאות</th>
            <th> הכנסות</th>
            <th> מאזן </th>
            <th> צפה </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of monthlyBriefByDebit">
            <td> <b> {{getMonthInHebrowByNumber(m.month)}} {{m.year}} </b> </td>
            <td> {{displayAvg(m.totleExpenses)}} </td>
            <td> {{displayAvg(m.totleIncomes)}} </td>
            <td *ngIf="m.totleExpenses > m.totleIncomes"   style="background-color: rgba(246, 128, 109, 0.33)" >  {{displayAvg((m.totleExpenses - m.totleIncomes))}} <i class="fas fa-minus" style="font-size: 50%"></i> </td>
            <td *ngIf="m.totleIncomes > m.totleExpenses"  style="background-color: rgba(98, 255, 117, 0.47)"  >  {{displayAvg((m.totleIncomes - m.totleExpenses))}} <i class="fas fa-plus" style="font-size: 50%"></i> </td>
            <td *ngIf="m.totleIncomes == m.totleExpenses"  style="background-color: rgba(98, 218, 255, 0.47)">   <i class="fas fa-balance-scale"></i> </td>
            
        
            <td> <button class="btn" style="padding: 0" (click)="moveToSummaryMonth(m.year , m.month , 'debit')"> <i class="far fa-eye"></i> </button> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 col-lg-6 monthAndYear" >
      <h5 style="text-decoration: underline"> <b> סיכומים חודשיים על פי תאריך ביצוע: </b> </h5>
      <p> טבאלות המציגות סיכומים חודשיים של העסקאות שלך על פי התאריך בו הן בוצועו, ללא שום קשר למתי ה חוייבת עליהם. </p>
      <table class="table table-hover  table-sm">
        <thead>
          <tr>
            <th>תאריך </th>
            <th>  הוצאות</th>
            <th> הכנסות</th>
            <th> מאזן </th>
            <th> צפה </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of monthlyBriefByAction">
            <td> <b> {{getMonthInHebrowByNumber(m.month)}} {{m.year}} </b> </td>
            <td> {{displayAvg(m.totleExpenses)}} </td>
            <td> {{displayAvg(m.totleIncomes)}} </td>
            <td *ngIf="m.totleExpenses > m.totleIncomes"   style="background-color: rgba(246, 128, 109, 0.33)" >  {{displayAvg(m.totleExpenses - m.totleIncomes)}} <i class="fas fa-minus" style="font-size: 50%"></i> </td>
            <td *ngIf="m.totleIncomes > m.totleExpenses"  style="background-color: rgba(98, 255, 117, 0.47)"  >  {{displayAvg(m.totleIncomes - m.totleExpenses)}} <i class="fas fa-plus" style="font-size: 50%"></i> </td>
            <td *ngIf="m.totleIncomes == m.totleExpenses"  style="background-color: rgba(98, 218, 255, 0.47)">  <i class="fas fa-balance-scale"></i> </td>
            <td> <button class="btn" style="padding: 0" (click)="moveToSummaryMonth(m.year , m.month , 'action')"> <i class="far fa-eye"></i> </button> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="container" *ngIf="!(allActions?.length > 0)">

    <div class="row mr-0 ml-0 header" style="padding: 50px">
      <div class="col-12">
          <h1 style="text-decoration: underline"> עמוד הסיכומים החודשיים </h1>
      </div>
    </div>

    <div style="padding: 40px;">
      <h5> לקוח יקר, עדין לא תיעדת עסקאות שנוכל לסכם לטבלה.. <i class="far fa-grin-alt"></i> </h5>
      <button class="btn btn-danger" (click)="router.navigate(['/addExpense'])"
      style="background-color: #ff0018c9; margin: 10px;"> הוסף הוצאה</button>
    <button class="btn btn-success" (click)="router.navigate(['/addIncome'])"
      style="background-color: #28a745ed; margin: 10px;"> הוסף הכנסה </button>
    </div>
    
</div>  