<div class="container" *ngIf="users && allActions">

  <!-- הכותרת של העמוד -->
  <h1 style="text-decoration: underline;" class="header"> ניהול המשתמשים </h1>

  <!--  ומכיל את הכפתורים להוספת משתמש חדש ולהצגת המידע על המשתמשים ואת החלונית שמציגת את המידע ואת הוספת המשתמש:-->
  <div class="row" style="padding: 15px;">
    <!-- כפתורים להצגת המידע והסתרתו -->
    <div class="col-6">
      <!--הצג מידע-->
      <button class="btn btn-primary" *ngIf="!userInfo" (click)="userInfo = true; create = false"> <i class="fas fa-info"></i></button>
      <!--הסתר מידע-->
      <button class="btn btn-secondary" *ngIf="userInfo" (click)="userInfo = false">מזער מידע </button>
    </div>
    <!-- כפתורים להוספת משתמש חדש או הסרת האופציה להוספת משתמש -->
    <div class="col-6">
      <!-- הוסף משתמש:יופיע רק אם קיימים פחות מ3 משתמשים-->
      <button class="btn btn-primary" *ngIf="!create && 3>users?.length" (click)="create = true; userInfo = false"> הוסף משתמש חדש <i
          class="fas fa-user-plus"></i></button>
      <!--הודעה שקיימים כבר 3 משתמשים-->
      <button *ngIf="users?.length == 3" class="btn btn-dark btn-sm" [disabled]="true"> כמות משתמשים מקסימלית </button>
      <!--סגירת החלונית להוספת משתמש-->
      <button class="btn btn-secondary" *ngIf="create" (click)="create = false">בטל</button>
    </div>

    <!--החלונית שתיפתח כשהמשתמש יבחר להציג מידע-->
    <div @showStete *ngIf="userInfo" class="col-12 add-box">
      <h5> מידע על המשתמשים: </h5>
      <p>
          בעמוד "ניהול המשתמשים" תוכל לקבוע האם החשבון שלך בSavelLi הוא עבור אדם יחיד או משפחה. <br>
          כלומר האם יש משתמש יחיד או מספר משתמשים באותו החשבון. ובהתאמה SavelLi תאפשר לך להציג את פעולות ההכנסה וההוצאה שלך כמשתמש יחיד או של כלל המשתמשים בחשבון במידה ויש יותר מאחד. <br>
      </p>
      <p style="text-align:center; margin: auto;"> שים <i class="fas fa-heart" style="color: red;"></i> : <br>
        <i class="fas fa-circle" style="font-size: 7px; padding: 5px 0;"></i> ניתן להוסיף עד 3 משתמשים לחשבון. <br>
        <i class="fas fa-circle" style="font-size: 7px; padding: 5px 0;"></i> ניתן למחוק רק משתמשים שלא רשומות פעולות על שמם<br>
        <i class="fas fa-circle" style="font-size: 7px; padding: 5px 0;"></i> ניתן להשבית משתמש וכך למנוע מעסקאות עתידיות להיות רשומות על שמו.
        כאופציה בעת תיעוד עסקה חדשה. <br>
      </p>

    </div>

    <!--החלונית שתיפתח כשמשתמש יבחר ליצור משתמש חדש-->
    <div @showStete *ngIf="create" class="col-12 add-box">
      <form #formInfo="ngForm">
        <h5> הוספת משתמש חדש: </h5>
        <label> מה שם המשתמש החדש? </label>
        <input type="text" required #nameInfo="ngModel" maxlength="15" name="name" placeholder=" שם המשתמש "
          [(ngModel)]="newUser.name">
        <button class="btn btn-success btn-sm" [disabled]="formInfo.form.invalid" (click)="addUser()"> הוסף
        </button>
        <div *ngIf="nameInfo.errors?.required && nameInfo.touched" class="invalidInput"> חובה למלא שדה זה </div>
        <div class="invalidInput" *ngIf="addNameNotUniqe"> שם המשתמש שבחרת כבר קיים אצל משתמש אחר, אנא בחר בשם אחר.
        </div>
      </form>
    </div>
  </div>
  <hr>

  <!-- הצגת מידע על משתמשים קיימים-->
  <div>
    <!--כותרת-->
    <h4> המשתמשים שברשותך <i class="fas fa-users"></i> : </h4>
    <!--המידע על המשתמשים-->
    <div class="col-12 col-lg-4 user" *ngFor="let u of users ;  let i = index"
      [ngClass]="{inactive: u.active === false }">
      <!--הכותרת המכילה את שם המשתמש .תוצג כל עוד לא נבחר לעדכן את המשתמש-->
      <h3 *ngIf="selectedToUpdate != i" style="text-decoration: underline;display: inline;">{{u.name}}</h3>
      <!--תיבת קלט לשינוי שם המשתמש-->
      <span *ngIf="selectedToUpdate == i"> <input type="text" maxlength="15" required #user="ngModel"
          [(ngModel)]="updateToUser.name"> </span>
      <!--הודעה שתוצג למשתמש כשהוא בחר לעדכן פרטי משתמש אך השם שתועדכן כבר קיים-->
      <div class="invalidInput" *ngIf="updateNameNotUniqe && selectedToUpdate==i"> שם המשתמש שבחרת כבר קיים אצל משתמש
        אחר, אנא בחר בשם אחר</div>
      <!--מציג אייקון שהמשתמש פעיל
      <span *ngIf="u.active === true"> <i class="fas fa-smile-wink" style="font-size: xx-large; padding: 9px;"></i>
      </span>-->
      <!--מציג אייקון שהמשתמש לא פעיל
      <span *ngIf="u.active === false"> <i class="fas fa-bed" style="font-size: xx-large; padding: 9px;"></i> </span>
     -->
      <!--מציג הודעה שלא ניתן להוסיך פעולות חדשות על שמו של המשתמש כי הוא לא פעיל-->
      <p *ngIf="!u.active" style="margin: 5px; color: red;"> לא ניתן לתעד פעולות על שמו של {{u.name}} </p>
      <!--כותרת לטבלה עם העסקאות האחרונות של המשתמש-->
      <p *ngIf="getThreeRecentActions(u.id).length == 3" style="margin: 5px"> שלוש הפעולה האחרונות שביצע {{u.name}}:
      </p>
      <p *ngIf="3 > getThreeRecentActions(u.id).length && getThreeRecentActions(u.id).length >0 " style="margin: 5px">
        הפעולה האחרונות שביצע {{u.name}}: </p>

      <div>
        <table class="table table-sm table-hover col-12" *ngIf="getThreeRecentActions(u.id).length >0">
          <tr>
            <th> בוצע בתאריך </th>
            <th> קטגוריה</th>
            <th> סכום </th>
            <th> באמצעות</th>
          </tr>
          <tr *ngFor="let action of  getThreeRecentActions(u.id)">
            <td> {{displayDateHebrow(action.actionDate)}}</td>
            <td> {{action.category.name}}</td>
            <td> {{action.amount}} ש"ח </td>
            <td> {{action.methodPayment.name}}</td>
          </tr>
        </table>

        <div *ngIf="getThreeRecentActions(u.id).length == 0">
          <p> לא תועדו פעולות על שמו של {{u.name}} </p>
          <button class="btn btn-danger btn-sm" (click)="router.navigate(['/addExpense'])"
            style="background-color: #ff0018c9; margin: 5px;"> הוסף הוצאה</button>
          <button class="btn btn-success btn-sm" (click)="router.navigate(['/addIncome'])"
            style="background-color: #28a745ed; margin: 5px;"> הוסף הכנסה </button>
        </div>

        <button class="btn btn-dark btn-sm" *ngIf="getThreeRecentActions(u.id).length != 0"
          (click)="moveToActionsUser(u.id)"> נהל את הפעולות של {{u.name}}</button>
        
      </div>
      <br>

      <button *ngIf="selectedToUpdate != i" class="btn btn-light" style="
      background-color: #c3c3c3;" (click)="startUpdate(i)"> <i class="far fa-edit"></i> </button>
      <button *ngIf="selectedToUpdate == i" class="btn btn-light" style="background-color: #959595"
        (click)="selectedToUpdate = -1"> <i class="fas fa-times"></i> </button>
      <button *ngIf="selectedToUpdate == i" class="btn btn-light" style="background-color: #959595"
        (click)="finishUpdate(i)" [disabled]="updateToUser.name == '' "> <i class="far fa-thumbs-up"></i> </button>


      <button *ngIf="getActionByUserId(u.id).length == 0" class="btn btn-secondary" (click)="removeUser(u.id, i)"> <i
          class="far fa-trash-alt"></i> </button>
      <button class="btn btn-primary" *ngIf="!u.active" (click)="changeActive(i)"> הפעל </button>
      <button class="btn btn-dark" *ngIf="u.active" (click)="changeActive(i)"> השבת </button>
      <hr>
    </div>
  </div>

</div>