<div class="container">

  <!--The title of the page-->
  <div class="row">
    <div class="col-sm-12">
      <h1> עמוד ניהול הלקוחות </h1>
    </div>
  </div>

  <!--Display the date abput the customers-->
  <div>
    <div style="text-align: right; ">
      <button *ngIf="getInfo == false" class="btn btn-info" (click)="getInfo = true"> <i class="fas fa-info"></i>
      </button>
      <button *ngIf="getInfo == true" class="btn btn-danger" (click)="getInfo = false"> <i
          class="far fa-window-close"></i> </button>
      <div *ngIf="getInfo == true" style="padding: 15px; background-color: #36ff003d">

        <h5> כמה דברים שחשוב לשים לב: </h5>
        <p> 1. השתדל להימנע מלערוך או למחוק משתמשים </p>
        <p> 2. לכל משתמש יש אפשרות ליצור עד 3 משתמשים ועד 5 אמצעי תשלום</p>
        <p> 3. אסור שהיו קיימים לקוחות עם אותו מייל </p>
    
      </div>
      <hr>
    </div>
  </div>

  <div class="container" style="background-color: #9d888826">

   

    <div style="background-color:#93888852;" *ngIf="allCustomers">
      <table class="table table-hover table-sm">

        <!--The header of the customer-->
        <thead>
          <tr>
            <th> מייל </th>
            <th> סיסמה </th>
            <th> משתמשים </th>
            <th> אמצעי תשלום </th>
            <th> מחק </th>
            <th> עדכן </th>
          </tr>
        </thead>

        <tbody>
          <!--The row that display the categories-->
          <tr *ngFor="let c of allCustomers; let i = index">
            <!--The exists categories-->
            <td *ngIf="makeUpdate != i"> {{c.email}} </td>
            <td *ngIf="makeUpdate != i"> {{c.password}} </td>
            <td *ngIf="makeUpdate != i">
              <ul>
                <li *ngFor="let u of c.users" style="text-align: right; font-size:75%"> {{u.name}} </li>
              </ul>
            </td>
            <td *ngIf="makeUpdate != i">
              <ul>
                <li *ngFor="let m of c.methodPayments" style="font-size:75% ;text-align: right"> <b> {{m.name}} </b> |
                  תאריך חיוב: {{m.debitDate}} </li>
              </ul>
            </td>

            <td *ngIf="makeUpdate != i"> <button class="btn" (click)="removeCustomer(c.id)"> <i
                  class="far fa-trash-alt"></i> </button> </td>
            <td *ngIf="makeUpdate != i"> <button class="btn" (click)="startUpdate(i)"> <i class="far fa-edit"></i>
              </button> </td>

            <!--If the user want to update customer:-->
            <td *ngIf="makeUpdate === i"> <input type="text" style="width: 200px" [(ngModel)]="updateCustomer.email">
            <div>{{updateMessage}}</div>
            </td>
            <td *ngIf="makeUpdate === i"> <input type="text" style="width: 100px" [(ngModel)]="updateCustomer.password">
            </td>
            <td *ngIf="makeUpdate === i">
              <ul>
                <li *ngFor="let u of c.users" style="text-align: right; font-size:75%"> {{u.name}} </li>
              </ul>
            </td>
            <td *ngIf="makeUpdate === i">
              <ul>
                <li *ngFor="let m of c.methodPayments" style="font-size:75% ;text-align: right"> <b> {{m.name}} </b> |
                  תאריך חיוב: {{m.debitDate}} </li>
              </ul>
            </td>


            <td *ngIf="makeUpdate === i"> <button class="btn" (click)="cancelUpdate()"> <i class="far fa-times-circle">
                </i> </button> </td>

            <td *ngIf="makeUpdate === i"> <button class="btn" (click)="finishUpdate()"> <i class="far fa-check-circle">
                </i> </button> </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>



</div>