.container{
    background-color: #ffffffde;
    border: 1px solid black;
    border-radius: 30px;
    padding: 50px;
    
}


.main-haeder{
    text-decoration: underline;
}

.monthAndYear{
    background: #2125291f;
    border-radius: 30px;
    padding: 20px;
    margin: 10px 20px;
    display: inline-block;

}


.table  {
    width: 100%; 
}


.table-title{
    font-size: 1.25rem;
    margin: auto;
    padding: 20px 5px;
    text-decoration: underline;
    width: 100%; 
    text-align: right;
}

.charst-pie-sm-screen{
    display: none;
}



@media only screen and (max-width:  768px){

    .not-display-in-xs{
        display: none;
      }

    .container{
        padding: 20px;
    }

    .table{
        width: 100%;
    }

    .table-title{
        width: auto;
        padding: 10px 0;
    }

  

    .charst-pie-sm-screen{
        display: block;
    }

    .charst-pie-lg-screen{
        display: none;
    }

    .main-haeder{
        font-size: 1.6rem
    }
}