










<div class="container">

    <img *ngIf="!table" src="assets\image\loading3.gif">

    <div *ngIf="table && monthAndYearWithTable.length > 0">
        <h1>
            טבלת ההוצאות של חודש {{getMonthByNumber(month)}}
        </h1>


      
        <div>
            <div *ngIf="table.expenses.length > 0">
                <h5>ההוצאות שלך:</h5>
                <table class="table table-hover table-active table-sm"
                    style="background-color: rgb(231, 250, 243); width: 80%; margin: auto;">
                    <thead class="thead-dark">
                        <tr>
                            <th>קטגוריה</th>
                            <th>סכום הוצאות</th>
                            <th *ngIf="table.userWithActions.length > 1">חלוקה</th>
                            <th>ממוצע</th>
                            <th>פירוט</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of table.expenses">
                            <td>{{r.category}}</td>
                            <td> {{r.amount}} ש"ח</td>
                            <td *ngIf="table.userWithActions.length > 1">
                                <span *ngFor="let d of r.division">
                                    {{d.operation}} - {{d.amount}} ש"ח <br>
                                </span>
                            </td>
                            <td>{{displayAvg(r.avg)}}</td>
                            <td>
                                <button class="btn btn-secondary btn-sm"
                                    (click)="moveToActionByCategoryAndDate(r.category)">
                                    <i class="fas fa-list-ol"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <thead class="table-danger">
                        <tr>
                            <th> סיכום הוצאות </th>
                            <th> {{table.totalExpense?.amount.toFixed(2)}} ש"ח</th>
                            <th *ngIf="table.userWithActions.length > 1">
                                <span *ngFor="let d of table.totalExpense?.division">
                                    {{d.operation}} - {{d.amount.toFixed(2)}} ש"ח <br>
                                </span>
                            </th>
                            <th>{{displayAvg(table.totalExpense?.avg)}}</th>
                            <th>
                                <button class="btn btn-secondary btn-sm" (click)="moveToActionByTypeAndDate('EXPENSE')">
                                    <i class="fas fa-list-ol"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div *ngIf="table.expenses.length == 0">
                <h5> לא הזנת הוצאות בחודש זה. </h5>
            </div>

            <div *ngIf="table.incomes.length > 0">
                <h5>ההכנסות שלך:</h5>
                <table class="table table-hover table-sm"
                    style="background-color: rgb(212, 240, 228); width: 80%; margin: auto;">
                    <thead class="thead-dark">
                        <tr>
                            <th>קטגוריה</th>
                            <th>סכום הכנסה</th>
                            <th *ngIf="table.userWithActions.length > 1"> חלוקה</th>
                            <th>ממוצע</th>
                            <th>פירוט</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of table.incomes">
                            <td>{{r.category}}</td>
                            <td>{{r.amount}} ש"ח</td>
                            <td *ngIf="table.userWithActions.length > 1">
                                <span *ngFor="let d of r.division">
                                    {{d.operation}} - {{d.amount.toFixed(2)}} ש"ח <br>
                                </span>
                            </td>
                            <td>{{displayAvg(r.avg)}}</td>
                            <td>
                                <button class="btn btn-secondary btn-sm"
                                    (click)="moveToActionByCategoryAndDate(r.category)">
                                    <i class="fas fa-list-ol"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <thead class="table-success">
                        <tr>
                            <th>סיכום הכנסות</th>
                            <th>{{table.totalIncome?.amount.toFixed(2)}} ש"ח </th>
                            <th *ngIf="table.userWithActions.length > 1">
                                <span *ngFor="let d of table.totalIncome?.division">
                                    {{d.operation}} - {{d.amount.toFixed(2)}} ש"ח <br>
                                </span>
                            </th>
                            <th>{{displayAvg(table.totalIncome?.avg)}}</th>
                            <th>
                                <button class="btn btn-secondary btn-sm" (click)="moveToActionByTypeAndDate('INCOME')">
                                    <i class="fas fa-list-ol"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div *ngIf="table.incomes.length == 0">
                <h5> לא הזנת הכנסות בחודש זה. </h5>
            </div>
            <br>
            <div *ngIf="dataExpenseExists" style="width: 40%; display: inline-block;">
                <google-chart *ngIf="dataExpense" [data]="dataExpense" [options]="optionsExpense" type="PieChart">
                </google-chart>
            </div>

            <span *ngIf="dataIncomeExists" style="width: 40%; display: inline-block;">
                <google-chart *ngIf="dataIncome" [data]="dataIncome" [options]="optionsIncome" type="PieChart">
                </google-chart>
            </span>
            <span *ngIf="avgData.length > 0">
                <google-chart style="display: inline-block;" [data]="avgData" type="BarChart" [options]="optionsAvg">
                </google-chart>
            </span>

        </div>

    </div>



    <br><br><br><br>
    <span>הנתונים מציגים את כל הפעולות שתאריך החיוב שלהם הוא בחודש הנוכחי*</span><br>
    <br>

</div>
